*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #0389ff;
}
.navbar-toggler{
    background: transparent !important;
}
.navbar-toggler .navbar-toggler-icon{
    background: transparent;
}
i{
    color: white !important;
}
.navbar-brand > img{
    width: 60px;
    height: 60px;
}
ul li a{
    position: relative;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
    margin-right: 10px;

}
ul li a:hover{
    color: #003563;
}
ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #003563;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: right;
    transition: .5s;
}
ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
ul li a:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: #003563;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: .5s;
}
ul li a:hover:after{
    transform: scaleX(1);
    transform-origin: right;
}
#home{
    background-color: #0389ff;
    width: 100%;
    height: 90vh;
}
.textHolder h1{
    color: white;
    font-family: 'Norican', cursive;
    font-size: 4.5em;
    text-shadow: -5px 5px 0 #003563;
}

.textHolder p{
    color: white;
    font-size: 1.2em;
}
.textHolder button{
    background: transparent;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
    padding: 10px;
    border: 4px solid white;
    transition: .5s; 
}
.textHolder button:hover{
    background: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
    padding: 10px;
    border: 4px solid white; 
    color: #0389ff !important;
}
.arrowHolder i{
    font-size: 1.9em;
    cursor: pointer;
    animation: move 2s infinite linear;
}
.codeText{
    font-family: 'Source Code Pro', monospace;
    color: #003563 !important;
}



@keyframes move{
    0%{
        transform: translateY(0);
        color: #0389ff;
    }
    50%{
        transform: translateY(70%);
        color:white;
    }
    100%{
        transform: translateY(0);
        color: #0389ff;
    }
}


.line{
    height: 3px;
    width: 90px;
    background-color: #003563;
    margin: 0 auto;
}
.line1{
    height: 3px;
    width: 90px;
    background-color: #fff;
    position: absolute;
    top: 100px;
    left: 47%;
}
#about h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    color: #003563;
}
.textHolder h3{
    font-family: 'Quicksand', sans-serif;
}
.textHolder code{
    color: #003563;
}
.lineTwo{
    height: 1px;
    width: 130px;
    background-color: #003563;
}

#projects{
    width: 100%;
    height: 100%;
    background-color: #003563;

}
#projects h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    color: #fff;
}
#projects .line{
    background-color: #fff;
}
.projectText {
    background-color: rgba(255, 255, 255, 0.7);
    outline: 5px solid rgba(255, 255, 255, 0.7);
    outline-offset: 5px;
    color: #003563;
}
.projectText h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
}
.projectText a{
    text-decoration: none;
}
.projectText a button{
    background: transparent;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
    color: #003563 !important;
    padding: 10px;
    border: 4px solid #003563; 
    transition: 0.4s;
}
.projectText a button:hover{
    background: #003563 !important;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.7) !important;
    padding: 10px;
    border: 4px solid #003563 !important; 
    transition: 0.4s;
}
#project1{
    margin-top: 50px;
}

#skills{
    width: 100%;
    height: 100%;
}
#skills h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    color: #003563;
}
.imgHolder img{
    width: 50px;
    margin-left: 10px;
}
.imgHolder #bootstrap{
    width: 64px;
}
.imgHolder #php, #sql{
    width: 70px;
}


#contact{
    width: 100%;
    height: 100%;
    background: #003563;
}

#contact h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    color: #fff;

}
#contact .line2{
    height: 1px;
    width: 130px;
    background-color: #fff;
    margin: 0 auto;
}
#informations h3{
    font-family: 'Quicksand', sans-serif;
    color: white;
}
.fa-phone, .fa-comment{
    font-size: 1.1em;
    background-color: #0389ff;
    padding: 10px;
    border-radius: 50%;
}
.justify-content-center > span{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
}
.col-3 a{
    text-decoration: none;
}
.socialMedia {
    text-decoration: none;
    background-color: #0389ff;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
}
.socialMedia:hover{
    transform: scale(1.3);
    box-shadow: 0 0 15 #fff;
    background-color: #003563;
}
.socialMedia  i{
    font-size: 2em;   

}
.cvButton a{
    text-decoration: none;
}
.cvButton a button{
    background: transparent;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
    padding: 10px;
    border: 4px solid white; 
    transition: 0.4s;
}
.cvButton a button:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 0.6rem #fff);
    background: #fff;
    color: #003563 !important;
}
footer{
    background-color: #0389ff;
}


@media screen and (min-width: 768px){
    .textHolder h1{
        color: white;
        font-family: 'Norican', cursive;
        font-size: 7.5em;
        text-shadow: -5px 5px 0 #003563;
    }
    .textHolder p{
        color: white;
        font-size: 1.4em;
    }
    #project1{
        margin-top: 0;
        width: 100%;
        height: 360px;
    }
    #project2{
        margin-top: 0;
        width: 100%;
        height: 347px;
    }

}
@media screen and (max-width: 768px){
    #home{
        height: 100%;
    }
    #project1{
        margin-top: 50px;
        width: 100%;
        height: 100%;
    }
}
@media screen and (min-height: 568px){
    #home{
        height: 90vh;
    }
}